<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PHOTO_LAB82 </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">PHOTOLAB_82</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login </a>
            </li>  
            {% if user.is_authenticated %}
            <hr>
            <li>{{user.username}} </li>
            <li><a href="{% url 'logout'%}">Salir</a></li>
   
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'imagenes' %}">Bienvenida/do al Background</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Listado de Imagenes' %}">Listado de Imagenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'creaimagen' %}">Crear Imagen</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'imagenes_csv' %}">CSV Imagenes</a>
            </li> 
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'imagenes_json' %}">JSON Imagenes</a>
            </li> 
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Web PHOTO_LAB82 </a>
            </li>

           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'buscaimagenes' %}">Buscar </a>
            </li>  
  
    
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" href="{% url 'buscaimagenes' %}">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        
        </div>
      </div>
    </div>
  </nav>