{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">@BLOOM.82</span>
            <span class="section-heading-lower">PINTAR CON LUZ</span>
          </h2>
          <p class="mb-3">Subimos tus fotos a nuestra Galería y venta en nuestra tienda Online.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">LABORATORIO DE IMÁGENES</span>
                <span class="section-heading-lower">EDICIÓN FOTOGRÁFICA
                  
                   DIGITAL </span>
              </h2>
              <p class="mb-0">Ansel Adams o Capa, Smith nos recuerda que lo importante es lo que transmitimos con nuestra fotografía más allá de las decisiones técnicas y recuerda que la técnica debe estar al servicio de la creatividad, de la emoción, de la expresión.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}


   