{% extends "base.html" %}


{% block title %}Listado de Imagenes y Ubicación{% endblock %}


{% block content %}
<br><br>
    <h1 style=" font-family: 'Raleway';">Ubicación y Listado completo de Imagenes
     </h1>
    <h3 style=" font-family: 'Raleway';">Listado completo de nuestra Base de datos</h3>
    <ul style="align-content: center;">
    {% for img in imagenes %}
        <li style="align-content: center;"> {{img.titulo}}</li>
        <li style="align-content: center;"> {{img.get_image_url}}</li>
    {% endfor %}
    </ul>
    <p class="text-white">Acciones: <a href="{}"><input type="button" value="Modificar"></a>
        <a href="{}"><input type="button" value="Eliminar"></a>
</p>
    <div id="map" style="align-content: center;"></div>

{% endblock%}
