{% extends "base.html" %}


{% block title %}Listado de Imagenes y Ubicación{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<style>
    #map { height: 400px ;}
    
</style>
{% endblock %}

{% block content %}
    <h1 style=" font-family: 'Raleway';">Ubicación y Listado completo de Imagenes
     </h1>
    <h3 style=" font-family: 'Raleway';">Listado completo de nuestra Base de datos</h3>
    <ul style="align-content: center;">
    {% for img in imagenes %}
        <li style="align-content: center;"> {{img}}</li>
    {% endfor %}
    </ul>

    <div id="map" style="align-content: center;"></div>

{% endblock%}

{% block extrajs %}
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   
<script>
    var mimapa = L.map('map').setView([41.6447628,-0.9253785], 13);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
    }).addTo(mimapa);

    L.marker([41.6447628,-0.9253785]).addTo(mimapa).bindPopup("CPI Los Enlaces");
</script>
{% endblock%}